sounddevice
openai
edge-tts
soundfile
google-genai
google-generativeai
pillow
requests
beautifulsoup4
readability-lxml
duckduckgo-search
playwright          
pyautogui
pyperclip
pygetwindow       
opencv-python
numpy
mss
Pillow
psutil
# comtypes (Windows only)
# pycaw (Windows only)
# win10toast (Windows only)
send2trash
youtube-transcript-api
# pywinauto (Windows only)
python-pptx
pyqt6
openwakeword
onnxruntime
speexdsp-ns
speedtest-cli
google-auth-oauthlib
pypdf
pyotp
pynput
yt-dlp
